
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #00060E; 
  color: #54C1E6; 
  line-height: 1.6;
}


.neon-text {
  text-shadow: 0 0 5px currentColor, 0 0 10px currentColor;
}


header {
  background: #9A9F17; 
  padding: 15px 0;
  border-bottom: 3px solid #FEE801; 
  box-shadow: 0 0 15px #FEE801;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  color: #54C1E6; 
  text-decoration: none;
  margin: 10px 20px;
  font-weight: 600;
  transition: 0.3s;
  text-shadow: 0 0 5px #54C1E6;
}

nav a:hover {
  color: #39C4B6; 
  text-shadow: 0 0 10px #39C4B6;
}


.hero {
  background: linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
    ),
    url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?auto=format&fit=crop&w=1600&q=80")
    no-repeat center center/cover;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FEE801; 
}

.hero h1 {
  font-size: 3rem;
  padding: 20px 30px;
  border: 2px solid #9A9F17; 
  border-radius: 10px;
  background: rgba(0,0,0,0.6);
  text-shadow: 0 0 8px #FEE801;
  box-shadow: 0 0 15px #39C4B6 inset; 
}

.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
}

.hobby{
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;

}

.hobby-text{
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
  
}

h2 {
  margin-bottom: 20px;
  color: #FEE801; 
  border-bottom: 3px solid #9A9F17; 
  padding-bottom: 5px;
  text-shadow: 0 0 8px #FEE801;
}

p {
  margin-bottom: 15px;
  color: #54C1E6; 
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #9A9F17; 
  box-shadow: 0 0 15px #39C4B6; 
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #FEE801; 
}


footer {
  background: #9A9F17; 
  color: #54C1E6; 
  text-align: center;
  padding: 15px;
  margin-top: 50px;
  border-top: 3px solid #FEE801; 
  box-shadow: 0 0 10px #FEE801;
}

footer p {
  margin: 0;
  text-shadow: 0 0 5px #54C1E6;
}


@media (max-width: 600px) {
  .hero h1 {
    font-size: 2rem;
  }
  nav a {
    margin: 5px 10px;
  }
}
